/*
 * header
 *
   ########################################################################## */
/* style structure
   ========================================================================== */
#mainHeader {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
	font-size: 1.8em;
	height: 160px;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

#systemTitle {
	vertical-align: middle;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
	#systemTitle h1 {
		line-height: 1.5em;
	}
		#systemTitle h1 .fa-car {
			cursor: pointer;
		}

	.remains {
		display: inline-block;
		margin: 0 16px;
		position: relative;
	}

	.remain {
		font-size: 12px;
		letter-spacing: 2px;
		position: absolute;
		top: 20px;
		white-space: nowrap;
	}