/*@font-face*/
/*{*/
/*	font-family: mplus-1p-light;*/
/*	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-light.ttf')*/
/*	     format("truetype");*/
/*}*/

/*
 * Login
 *
########################################################################## */

/* structure
========================================================================== */
#mainContent {
	padding-top: 164px;
	margin: 0 auto;
}

#area__login {
	margin: 0 auto;
	margin-top: 48px;
	text-align: center;
}
	.wrap__form_login {
		margin-bottom: 8px;
	}
		#area__login .form_login {
			height: 48px;
			letter-spacing: 4px;
			line-height: 1.5em;
			text-decoration: none;
			ime-mode: disabled;
		}
		input[placeholder]::-webkit-input-placeholder {
			font-size: 15px;
		}

	.wrap__button_login {
		margin-top: 16px;
		margin-bottom: 12px;
		text-align: right;
	}
		#button_login {
			height: 48px;
		}

	.wrap__check_session {
		text-align: left;
	}

/* memo
========================================================================== */