/*
 * nav
 *
########################################################################## */
/* structure
========================================================================== */
#mainNav {
	/*height: 56px;*/
	position: fixed;
	top: 80px;
	width: 100%;
	z-index: 80;
}
	.nav__wrap_menu {
		background-color: rgba(0, 0, 0, .4);
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
		box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .2);
		height: 48px;
		margin: 0 auto;
		width: 98%;
	}
		#mainNav ul {
			display: table;
			text-align: center;
			width: inherit;
		}
		#mainNav li {
			display: table-cell;
			height: 40px;
			overflow: hidden;
			vertical-align: middle;
		}
			#mainNav a {
				background-color: rgba(0, 0, 0, 0);
				border: 1px solid #fff;
				border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				color: #fff;
				display: inline-block;
				font-size: 20px;
				height: 30px;
				line-height: 1.6em;
				margin-top: 8px;
				text-decoration: none;
				width: 30px;
			}
			#mainNav .menu_txt {
				font-weight: bold;
			}